services:
  app:
    image: simulador-do-caos
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8080:3000
    restart: always
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000/health" ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s
      # disable: true
